.continer {
    margin: 0 auto;
    max-width: 900px;
    background-color: #efefef;
}

#countInfo {
    position: relative;
    font-family: cursive;
    text-align: center;
    padding-top: 1em;
}

.readings {
    display: flex;
    justify-content: space-between;
}

.reading-output-computer {
    position: relative;
    border: 1px solid greenyellow;
    border-radius: 20%;
    box-sizing: border-box;
    height: 5em;
    margin: .5em;
    padding: 1em;
    background-color: greenyellow;
    box-shadow: black;
}
.reading-output-user {
    position: relative;
    border: 1px solid hotpink;
    border-radius: 20%;
    box-sizing: border-box;
    margin: .5em;
    padding: 1em;
    background-color: hotpink;
    box-shadow: black;
}
.reading-output-result {
    position: relative;
    border: 1px solid turquoise;
    border-radius: 20%;
    box-sizing: border-box;
    margin: .5em;
    padding: 1em;
    background-color: turquoise;
    box-shadow: black;
}

#computerChoiceDisplay
 {
   /* display: block; */
   position: absolute;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
}
 
.button {
    position: relative;
}

.button-choices {
    display: block;
    position: relative;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 2em;
    width: 20%;
    margin: 1em auto;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}