#squareContiner {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    border: 1px solid black;
    height: 33.003%;
    width: 33.003%;
}

.mole{
   background-image: url('mole.jpg');
   background-repeat: no-repeat;

}